* text=auto eol=lf

# Force LF for source code
*.cpp text eol=lf
*.h   text eol=lf
*.hpp text eol=lf
*.c   text eol=lf
*.txt text eol=lf

# Keep Windows batch files as CRLF if you ever use them
*.bat text eol=crlf
